# Project-specific Git Configuration
# Documentation: manpage: git-config
[filter "bash"]
	clean = "\"Git Clean and Smudge Filters/Clean Filter for GNU Bash Scripts/filter.bash\" --cleaner shfmt"

[filter "svg"]
	clean = "\"./Clean Filter for SVG.bash\""
