# Project-specific Git Configuration
# Documentation: manpage: git-config
[filter "bash"]
	clean = "\"Clean and Smudge Filters/Clean Filter for GNU Bash Scripts/Clean Filter for GNU Bash Script.bash\""
